body {
  font-size: 15px;
  font-family: sans-serif;
}

h2 {
 font-weight: bold;
 font-size: 2rem
}

h3 {
 font-weight: bold;
 font-size: 1.3rem
}


.container {
  padding: 20px;
  display: block;
}

.editButton {
  background-color: rgb(88, 155, 255);
  padding: 4px 6px;
  border-radius: 3px;
  color: #fff;
}

.deleteButton {
  background-color: rgb(255, 111, 111);
  padding: 4px 6px;
  border-radius: 3px;
  color: #fff;
}

.updateForm {
 padding: 20px;
 background-color: rgb(245, 245, 245);
 border: 1px solid rgb(209, 209, 209);
}
.updateForm__button {
  margin-top: 17px;
}

.registrationForm__button {
  margin-top: 17px;
}

.explanation {
  background: rgb(255, 236, 211);
  padding: 20px;
}